
.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  background-image: url("./images/cash_flow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

